<div class="container d-flex justify-content-center">
  <div class="col-8 blue-border rounded px-4 py-4">
    <div class="rounded chat-container mt-4 pt-4 px-3">
      <%= turbo_frame_tag "answer", class:"chat-text fw-bold" do %>
        Hi! I'm here to answer your questions!
      <% end %>
    </div>
    <%= turbo_frame_tag "new_question", target: "_top" do %>
      <%= form_tag questions_path, class: 'd-flex align-items-center mt-4', 
          data: { controller: "reset", action: "turbo:submit-end->reset#reset" } do |f| %>
        <input type="text"
              id="chat-input"
              class="form-control chat-input"
              name="question[question]"
              placeholder="Type your question">
        <!-- Круглая кнопка с иконкой бумажного самолетика -->
        <button type="submit" class="btn-send mx-3">
          <i class="fa-solid fa-paper-plane fa-2xl"></i>
        </button>
      <% end %>
    <% end %>
  </div>
</div>

