<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
  <div class="container" data-aos="zoom-in">

    <div class="text-center">
      <h3><%= t("emergency.title") %></h3>
      <p><%= t("emergency.description") %></p>
      <a class="cta-btn scrollto" href="#appointment"><%= t("emergency.button_text") %></a>
    </div>

  </div>
</section><!-- End Cta Section -->
