<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
  <div class="container" data-aos="zoom-in">

    <div class="text-center">
      <h3>In an emergency? Need help now?</h3>
            <p>Our team is available round the clock, ensuring that urgent care is always within your reach. Your health and well-being are our top priorities.</p>
      <a class="cta-btn scrollto" href="#appointment">Make an Make an Appointment</a>
    </div>

  </div>
</section><!-- End Cta Section -->
