<!-- ======= Featured Services Section ======= -->
<section id="featured-services" class="featured-services">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="fas fa-heartbeat"></i></div>
          <h4 class="title"><a href="">Cardiology</a></h4>
          <p class="description">Our dedicated team provides comprehensive heart care, ensuring optimal cardiovascular health.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="fas fa-pills"></i></div>
          <h4 class="title"><a href="">Pharmacy</a></h4>
          <p class="description">A wide range of medications, supplements, and health solutions, curated for your well-being.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="fas fa-thermometer"></i></div>
            <h4 class="title"><a href="">Diagnostics</a></h4>
            <p class="description">Advanced diagnostic tools and services to identify and address potential health concerns early.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
          <div class="icon"><i class="fas fa-dna"></i></div>
            <h4 class="title"><a href="">Genetics</a></h4>
            <p class="description">Personalized health insights and counseling based on your unique genetic makeup.</p>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- End Featured Services Section -->
