<!-- ======= Features Section ======= -->
<section id="features" class="features">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-right">
        <div class="icon-box mt-5 mt-lg-0">
          <i class="bx bx-receipt"></i>
          <h4>Electronic Health Records</h4>
          <p>Our comprehensive electronic health records ensure seamless patient care, storing all essential information securely.</p>        </div>
        <div class="icon-box mt-5">
          <i class="bx bx-cube-alt"></i>
          <h4>Advanced Medical Equipment</h4>
          <p>We invest in the latest medical technology to provide accurate diagnoses and effective treatments.</p>        </div>
        <div class="icon-box mt-5">
          <i class="bx bx-images"></i>
          <h4>Medical Imaging Services</h4>
          <p>From MRIs to X-rays, our advanced imaging services help in precise diagnoses and treatments.</p>        </div>
        <div class="icon-box mt-5">
          <i class="bx bx-shield"></i>
          <h4>Patient Safety First</h4>
          <p>Our topmost priority is the safety and well-being of our patients. We maintain stringent standards to ensure this.</p>
        </div>
      </div>
      <div class="image col-lg-6 order-1 order-lg-2" style="background-image: url(<%= asset_path('features.jpg') %>)" data-aos="zoom-in">
    </div>

  </div>
</section><!-- End Features Section -->
