<section id="digital-assistant" class="pb-0">
  <div class="container" data-aos="flip-up" data-aos-easing="ease-out-cubic" data-aos-duration="1200">
    <%= render "questions/gpt_assistant" %>
  </div>
</section>
