<!-- ======= Hero Section ======= -->
<section id="hero">
  <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">

      <!-- Slide 1 -->
      <div class="carousel-item active" style="background-image: url(<%= asset_path('slide/slide-1.jpg') %>)">
        <div class="container">
          <h2>Welcome to <span>Medicio</span></h2>
          <p>Your health is our foremost priority. Discover comprehensive care solutions tailored to your individual needs.</p>
          <a href="#about" class="btn-get-started scrollto">Discover More</a>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item active" style="background-image: url(<%= asset_path('slide/slide-2.jpg') %>)">
        <div class="container">
          <h2>Advanced Healthcare Solutions</h2>
          <p>Experience the blend of state-of-the-art technology with human touch. Ensuring your well-being, every step of the way.</p>
          <a href="#about" class="btn-get-started scrollto">Our Services</a>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item active" style="background-image: url(<%= asset_path('slide/slide-3.jpg') %>)">
        <div class="container">
          <h2>Committed to Your Wellness</h2>
          <p>From preventive care to specialized treatments, our dedicated team is here to guide you towards optimal health.</p>
          <a href="#about" class="btn-get-started scrollto">Meet Our Team</a>
        </div>
      </div>

    </div>

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a>

  </div>
</section>
<!-- End Hero -->
