<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Pricing</h2>
      <p>Choose a healthcare plan that's right for you and your loved ones. We offer a range of packages tailored to different needs. Uncompromised quality, fair prices.</p>    </div>


    <div class="row">

      <div class="col-lg-3 col-md-6">
        <div class="box" data-aos="fade-up" data-aos-delay="100">
          <h3>Beginner</h3>
          <h4><sup>$</sup>0<span> / month</span></h4>
          <ul>
            <li>Initial health checkup</li>
            <li>24/7 online support</li>
            <li>Access to health webinars</li>
            <li class="na">Premium support</li>
            <li class="na">Specialist consultations</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Get Started</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
        <div class="box featured" data-aos="fade-up" data-aos-delay="200">
          <h3>Pro Health</h3>
          <h4><sup>$</sup>19<span> / month</span></h4>
          <ul>
            <li>Everything in Beginner</li>
            <li>2 free doctor visits</li>
            <li>Monthly health newsletter</li>
            <li>Special health events</li>
            <li class="na">Specialist consultations</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Get Pro</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
        <div class="box" data-aos="fade-up" data-aos-delay="300">
          <h3>Health Elite</h3>
          <h4><sup>$</sup>29<span> / month</span></h4>
          <ul>
            <li>Everything in Pro Health</li>
            <li>Unlimited doctor visits</li>
            <li>Access to all health events</li>
            <li>Priority support</li>
            <li>1 free specialist consultation</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Go Elite</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
        <div class="box" data-aos="fade-up" data-aos-delay="400">
          <span class="advanced">Pinnacle</span>
          <h3>Ultimate Health</h3>
          <h4><sup>$</sup>49<span> / month</span></h4>
          <ul>
            <li>Everything in Health Elite</li>
            <li>Personal health manager</li>
            <li>Diet and fitness plans</li>
            <li>Free health workshops</li>
            <li>Unlimited specialist consultations</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Achieve Ultimate</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Pricing Section -->
