<!-- ======= Services Section ======= -->
<section id="services" class="services services">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Services</h2>
      <p>Our hospital offers a wide range of medical services, leveraging the latest technology to provide top-notch care and treatment. We pride ourselves on delivering patient-centric care with compassion and precision.</p>    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon"><i class="fas fa-heartbeat"></i></div>
        <h4 class="title"><a href="">Cardiology</a></h4>
        <p class="description">Specialized treatments and diagnostics for heart-related issues to ensure your heart remains in perfect rhythm.</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon"><i class="fas fa-pills"></i></div>
        <h4 class="title"><a href="">Pharmacy</a></h4>
        <p class="description">Access to quality medicines and pharmaceutical guidance to assist in your speedy recovery.</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon"><i class="fas fa-hospital-user"></i></div>
        <h4 class="title"><a href="">Patient Care</a></h4>
        <p class="description">Committed to delivering exceptional care services to our patients, ensuring their comfort throughout the healing process.</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon"><i class="fas fa-dna"></i></div>
        <h4 class="title"><a href="">Genetics</a></h4>
        <p class="description">State-of-the-art genetic testing and counseling for inherited conditions and potential risks.</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon"><i class="fas fa-wheelchair"></i></div>
        <h4 class="title"><a href="">Physiotherapy</a></h4>
        <p class="description">Rehabilitative services to help patients recover mobility and function, and live pain-free.</p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon"><i class="fas fa-notes-medical"></i></div>
        <h4 class="title"><a href="">Medical Records</a></h4>
        <p class="description">Maintaining comprehensive and secure medical histories to ensure effective and timely treatments.</p>
      </div>
    </div>

  </div>
</section><!-- End Services Section -->
