// .messages {
//   overflow: none;
//   position: relative;
//   height: 60vh;
//   border: 1px solid #f0f0f0;
//   border-radius: 5px;
//   box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  
//   &-inner {
//     overflow: auto;
//     position: absolute;
//     max-height: 60vh;
//     left: 0;
//     right: 0;
//     bottom: 0;
//   }

//   .message {
//     margin-left: 0;
//     margin-right: 0;
//   }
// }

.form-control {
  width: 100%;
}

.mc {
  width: 100%;
  max-width: 80%;
  margin: auto;
}

.message-fit {
  max-width: fit-content;
}

.message-field {
  background-color: lightgray;
  // border: 1px solid gray;
  // border-radius: 5px;
  padding: 2rem;
  color: #333;

  max-height: 50vh; 
  overflow-y: auto; 
}

.width-50 {
  width: 50%;
}

.author {
  align-items: end;
}

.message-box {
  background-color: papayawhip;
  border-radius: 0.25rem;
  max-width: fit-content;
  color: #333;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

@media (max-width: 992px) {
  .message-container {
    max-width: 100%;
  }
  .width-50 {
    width: 100%;
  }
}
